<?php $data = $this->model->getMenu($this->menu_id); ?>
<form role="form" class="form-horizontal" action="<?php echo $this->controller->generatePath('/menu/menuEditPost'); ?>" method="POST">
	<input type="hidden" id="menu_id" name="menu_id" value="<?php echo $this->menu_id; ?>" />
	<div class="form-group">
		<label for="role_name" class="col-sm-2 control-label">Menu Name</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="menu_name" name="menu_name" value="<?php echo $data['menu_name']; ?>" />
		</div>
	</div>
	<div class="form-group">
		<label for="seniority" class="col-sm-2 control-label">Orientation</label>
		<div class="col-sm-4">
			<select class="form-control" id="orientation" name="orientation">
				<option value=""> -- Select an Option -- </option>
				<option value="horizontal" <?php echo ($data['orientation'] == 'horizontal') ? 'selected': ''; ?>>Horizontal</option>
				<option value="vertical" <?php echo ($data['orientation'] == 'vertical') ? 'selected': ''; ?>>Vertical</option>
				<option value="navbar" <?php echo ($data['orientation'] == 'navbar') ? 'selected': ''; ?>>Navigation Bar</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2">
			<?php if($this->menu_id === "new"): ?>
			<button type="submit" class="btn btn-default">Create</button>
			<?php else: ?>
			<button type="submit" class="btn btn-default">Update</button>
			<?php endif; ?>
			<a href="<?php echo $this->controller->generatePath('/menu'); ?>" class="btn btn-warning">
				Cancel
			</a>
		</div>
	</div>
</form>
<?php if(is_numeric($this->menu_id)): ?>
<?php $items = $this->model->getModel('menu/item')->getItems($this->menu_id); ?>
<table class="table table-striped">
	<thead>
		<th>Item ID</th>
		<th>Item Label</th>
		<th>Path</th>
		<th>Options</th>
	</thead>
	<tbody>
	<?php foreach($items as $item): ?>
		<tr>
			<td><?php echo $item['item_id']; ?></td>
			<td><?php echo $item['label']; ?></td>
			<td><?php echo $item['path']; ?></td>
			<td align="right">
				<a href="<?php echo $this->controller->generatePath('/menu/itemEdit/'.$item['item_id'].'/'.$this->menu_id)?>" class="btn btn-warning">
					<span class="glyphicon glyphicon-pencil"></span> Edit
				</a>
				<a href="<?php echo $this->controller->generatePath('/menu/itemDelete/'.$item['item_id'].'/'.$this->menu_id)?>" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash"></span> Delete
				</a>
			</td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>
<?php if(count($items) < 1): ?>
	<?php $this->ErrorHandler->generateMessage("No menu Items available...",'info'); ?>
<?php endif; ?>
	<a href="<?php echo $this->controller->generatePath('/menu/itemEdit/new/'.$this->menu_id)?>" class="btn btn-primary">
					<span class="glyphicon glyphicon-plus"></span> New Menu Item
				</a>
<?php endif; ?>
