<?php $menus = $this->model->getMenus(); ?>
<table class="table table-striped">
	<thead>
		<th>Menu ID</th>
		<th>Menu Name</th>
		<th>Options</th>
	</thead>
	<tbody>
	<?php foreach($menus as $menu): ?>		
		<tr>
			<td><?php echo $menu['menu_id']; ?></td>
			<td><?php echo $menu['menu_name']; ?></td>
			<td align="right">
				<a href="<?php echo $this->controller->generatePath('/menu/menuEdit/'.$menu['menu_id']); ?>" class="btn btn-warning">
					<span class="glyphicon glyphicon-pencil"></span> Edit
				</a>
				<a href="<?php echo $this->controller->generatePath('/menu/menuDelete/'.$menu['menu_id']); ?>" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash"></span> Delete
				</a>
			</td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>
<a href="/mvc/menu/menuEdit/new" class="btn btn-primary" >
					<span class="glyphicon glyphicon-plus"></span> New Menu</a>
