<?php $data = $this->model->getItem($this->item_id); ?>
<form role="form" class="form-horizontal" action="<?php echo $this->controller->generatePath('/menu/itemEditPost'); ?>" method="POST">
	<input type="hidden" id="item_id" name="item_id" value="<?php echo strtolower($this->item_id); ?>" />
	<input type="hidden" id="menu_id" name="menu_id" value="<?php echo strtolower($this->menu_id); ?>" />
	<div class="form-group">
		<label for="label" class="col-sm-2 control-label">Item Label</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="label" name="label" value="<?php echo $data['label']; ?>" />
		</div>
	</div>
	<div class="form-group">
		<label for="path" class="col-sm-2 control-label">Item Path</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="path" name="path" value="<?php echo $data['path']; ?>" />
		</div>
	</div>
	<div class="form-group">
		<label for="order" class="col-sm-2 control-label">Order</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="order" name="order" value="<?php echo $data['order']; ?>" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2">
			<?php if(strtolower($this->item_id) === "new"): ?>
			<button type="submit" class="btn btn-default">Create</button>
			<?php else: ?>
			<button type="submit" class="btn btn-default">Update</button>
			<?php endif; ?>
			<a href="<?php echo $this->controller->generatePath('/menu/items/'); ?>" class="btn btn-warning">
				Cancel
			</a>
		</div>
	</div>
</form>
