<?php $items = $this->model->getModel('menu/item')->getItems($this->menu_id); ?>
<table class="table table-striped">
	<thead>
		<th>Item ID</th>
		<th>Item Label</th>
		<th>Path</th>
		<th>Options</th>
	</thead>
	<tbody>
	<?php foreach($items as $item): ?>		
		<tr>
			<td><?php echo $item['item_id']; ?></td>
			<td><?php echo $item['label']; ?></td>
			<td><?php echo $item['path']; ?></td>
			<td align="right">
				<a href="<?php echo $this->controller->generatePath('/menu/itemEdit/'.$item['item_id']); ?>" class="btn btn-warning">
					<span class="glyphicon glyphicon-pencil"></span> Edit
				</a>
				<a href="<?php echo $this->controller->generatePath('/menu/itemDelete/'.$item['item_id']); ?>" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash"></span> Delete
				</a>
			</td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>
<a href="/mvc/menu/itemEdit/new" class="btn btn-primary" >
					<span class="glyphicon glyphicon-plus"></span> New Menu Item</a>
