<?php $items = $this->model->getItems($this->menu_id); ?>
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><?php echo $this->title; ?></a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <?php foreach($items as $item): ?>
        <?php $active = ($this->controller->getPath() === $this->controller->generatePath($item['path'])) ? 'active' : ''; ?>
        <li class="<?php echo $active; ?>"><a href="<?php echo $this->controller->generatePath($item['path']); ?>">
          <?php echo $item['label']; ?>
          </a>
        </li>
      <?php endforeach; ?>
    </ul>
  </div>
</nav>
