<?php $items = $this->model->getItems($this->menu_id); ?>
<ul class="nav nav-pills nav-stacked">
  <?php foreach($items as $item): ?>
    <?php $active = ($this->controller->getPath() === $this->controller->generatePath($item['path'])) ? 'active' : ''; ?>
    <li class="<?php echo $active; ?>"><a href="<?php echo $this->controller->generatePath($item['path']); ?>">
      <?php echo $item['label']; ?>
      </a>
    </li>
  <?php endforeach; ?>
</ul>
