<?php $data = $this->model->getRole($this->roleid); ?>

<form role="form" class="form-horizontal" action="/mvc/user/roleEditPost" method="POST">
	<input type="hidden" id="roleid" name="roleid" value="<?php echo $this->roleid; ?>" />
	<div class="form-group">
		<label for="role_name" class="col-sm-2 control-label">Role Name</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="role_name" name="role_name" value="<?php echo $data['role_name']; ?>" />
		</div>
	</div>
	<div class="form-group">
		<label for="seniority" class="col-sm-2 control-label">Seniority</label>
		<div class="col-sm-2">
			<input type="text" class="form-control" id="seniority" name="seniority" value="<?php echo $data['seniority']; ?>" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2">
			<?php if($this->roleid === "new"): ?>
			<button type="submit" class="btn btn-default">Create</button>
			<?php else: ?>
			<button type="submit" class="btn btn-default">Update</button>
			<?php endif; ?>
		</div>
	</div>
</form>
