<?php $roles = $this->model->getRoles(); ?>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Group Name</th>
			<th>Seniority</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	<?php foreach($roles as $row): ?>
		<tr>
			<td><?php echo $row['role_name']; ?></td>
			<td><?php echo $row['seniority']; ?></td>
			<td align="right">
				<a href="/mvc/user/roleEdit/<?php echo $row['role_id']; ?>" class="btn btn-warning" >
					<span class="glyphicon glyphicon-pencil"></span> Edit</a>
				<a href="/mvc/user/roleDelete/<?php echo $row['role_id']; ?>" class="btn btn-danger" >
					<span class="glyphicon glyphicon-trash"></span> Delete</a>
			</td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>
<a href="/mvc/user/roleEdit/new" class="btn btn-primary" >
					<span class="glyphicon glyphicon-plus"></span> New Role</a>
