<?php $user = $this->model; ?>
<?php $role = $this->model->getModel('user/role'); ?>
<?php $username = $user->getUser(); ?>
<?php $role_list = $role->getRoles(); ?>

<ul class="nav nav-tabs">
	<li><a href="#">User</a></li>
	<li><a href="#">Roles</a></li>
</ul>

<div class="panel panel-default">
	<div class="panel-heading">User</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form" action="/mvc/User/profileUpdate" method="POST">
			<input type="hidden" id="userid" name="userid" value="<?php echo $this->userid; ?>" />
			<input type="hidden" id="category" name="category" value="user" />
			<div class="form-group">
				<label class="col-sm-2 control-label">Username</label>
    		<div class="col-sm-8">
      		<p class="form-control-static"><?php echo $username['username']; ?></p>
    		</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-2 control-label">Password</label>
    		<div class="col-sm-8">
      		<input type="password" class="form-control" id="password" name="password" placeholder="Password">
    		</div>
			</div>
			<div class="form-group">
				<label for="password2" class="col-sm-2 control-label">Verify Password</label>
    		<div class="col-sm-8">
      		<input type="password" class="form-control" id="password2" name="password2" placeholder="Verify Password">
    		</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-8">
					<button type="submit" class="btn btn-primary">Update Password</button>
				</div>
			</div>
		</form>
  </div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Roles</div>
	<div class="panel-body">
    <form class="form-horizontal" role="form" action="/mvc/User/profileUpdate" method="POST">
			<input type="hidden" id="userid" name="userid" value="<?php echo $this->userid; ?>" />
			<input type="hidden" id="category" name="category" value="role" />
			<div class="form-group">
				<label class="col-sm-2 control-label">Role</label>
    		<div class="col-sm-8">
      		<select class="form-control" id="roleid" name="roleid">
					<?php foreach($role_list as $row):?>
						<option value="<?php echo $row['role_id']; ?>">
							<?php echo $row['role_name']; ?>
						</option>
					<?php endforeach; ?>
					</select>
    		</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-8">
					<button type="submit" class="btn btn-primary">Update Role</button>
				</div>
			</div>
		</form>
		</form>
  </div>
</div>
