</pre>
<form class="form-horizontal" role="form" action="/mvc/User/registerPost" method="POST" enctype="multipart/form-data">
	<div class="form-group">
		<label for="username" class="col-sm-2 control-label">Username</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="username" name="username" placeholder="Username">
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-8">
			<input type="email" class="form-control" id="email" name="email" placeholder="user@email.com">
		</div>
	</div>
	<div class="form-group">
		<label for="password" class="col-sm-2 control-label">Password</label>
		<div class="col-sm-8">
			<input type="password" class="form-control" id="password" name="password" placeholder="Password">
		</div>
	</div>
	<div class="form-group">
		<label for="password2" class="col-sm-2 control-label">Verify Password</label>
		<div class="col-sm-8">
			<input type="password" class="form-control" id="password2" name="password2" placeholder="Verify Password">
		</div>
	</div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-default">Register</button>
    </div>
  </div>
</form>
