<html>
  <head>
    <link href="<?php echo BASE_DIR; ?>/styles/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="<?php echo BASE_DIR; ?>/styles/styles.css" rel="stylesheet"/>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="<?php echo BASE_DIR; ?>/styles/bootstrap/js/bootstrap.min.js"></script>
  </head>
